@media (max-width: 1530px) {
    .carrosel img{
        width: 300px;
        height: 300px;
    }
}

@media (max-width: 1180px) {
    .carrosel img{
        width: 200px;
        height: 200px;
    }
}

@media (max-width: 1109px) {
    .about{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .sobre{
        padding-left: 0px;
    } 
}


@media (max-width: 876px) {
    .footer-text{
        font-size: 25px;
    }
}

@media (max-width: 830px) {
    .carrosel{
        flex-direction: column;
        align-items: center;   
    }

    .carrosel img{
        width: 300px;
        height: 300px;
    }

}

@media (max-width: 737px) {
    .footer-text{
        font-size: 20px;
    }
}


@media (max-width: 670px) {
    .introducao img{
        width: 300px;
        height: 500px;
        object-fit: cover;
        object-position: top;
    }

    .footer-text{
        font-size: 18px;
    }

}

@media (max-width: 580px) {
    .introducao img{
        width: 200px;
        height: 400px;
        object-fit: cover;
        object-position: top;
    }

    .title{
        font-size: 20px;
    }

    .subtitle{
        font-size: 15px;
    }

    .txt{
        font-size: 15px;
    }

    .footer-text{
        font-size: 18px;
    }

}

@media (max-width: 420px) {
    .introducao img{
        width: 200px;
        height: 350px;
        object-fit: cover;
        object-position: top;
    }

    .title{
        font-size: 15px;
    }

    .subtitle{
        font-size: 10px;
    }
    .txt{
        font-size: 13px;
    }

}