@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Space+Mono&display=swap');

body{
    font-family: "Space Mono", sans-serif;
    background-color: gray;
}

.main{
    width: 80vw;
    margin: auto;
}

.introducao{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #E09809;
    border: 3px solid black;
}

.introducao img{
    margin-bottom: 20px;
    height: 700px;
    border: 6px dashed black;
}

.introducao > p {
    line-height: 38px;
    text-align: center;
    padding: 20px;
    font-size: 20px;
}

.introducao span{
    color: white;
    text-shadow: 2px 2px 2px black;
}

.title{
    font-weight: bold;
    font-size: 50px;
    margin-top: 20px;
    margin-bottom: 40px;
    text-align: center;
}

.subtitle{
    font-size: 20px;
    margin-bottom: 20px;
}

.gallery{
    background-color: #E09809;
    border: 3px solid black;
}

.carrosel{
    display: flex;
    justify-content: center;
}

.carrosel img{
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 40px;
    max-width: 400px;
    max-height: 400px;
    object-fit: cover;
    object-position: 70%;
    border: 4px solid black;
}