@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Space+Mono&display=swap');

body{
    font-family: "Space Mono", sans-serif;
    background-color: gray;
}

.main{
    width: 80vw;
    margin: auto;
}

.introducao{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #E09809;
    border-top: 3px solid black;
    border-right: 3px solid black;
    border-left: 3px solid black;
}

.introducao img{
    margin-bottom: 20px;
    height: 700px;
    border: 6px dashed black;
}


.txt {
    line-height: 38px;
    text-align: justify;
    padding: 20px;
    font-size: 20px;
}

span{
    color: white;
    text-shadow: 2px 2px 2px black;
}

.title{
    font-weight: bold;
    font-size: 50px;
    margin-top: 20px;
    margin-bottom: 40px;
    text-align: center;
}

.subtitle{
    font-size: 20px;
    margin-bottom: 20px;
}

.gallery{
    background-color: #E09809;
    border-top: 3px solid black;
    border-right: 3px solid black;
    border-left: 3px solid black;
}

.carrosel{
    display: flex;
    justify-content: center;
}

.carrosel img{
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 40px;
    width: 400px;
    height: 400px;
    object-fit: cover;
    object-position: 70%;
    border: 4px solid black;
}

.sobre{

    background-color: #E09809;
    border: 3px solid black;
    padding-top: 30px;
    padding-left: 30px;
    padding-bottom: 40px;   
}

.about{
    display: flex;

}

.sobre img{
    width: 400px;
    height: 400px; 
    object-fit: cover;
    object-position: 60%; 
    border-radius: 10px;
    border: 4px solid black;
}

.footer{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: black;
    height: 80px;

}

.footer-text{
    color: white;
    font-size: 30px;
    text-align: center; 
    padding: 20px; 
}

.footer-text a {
    color: white;
}


